/* ============= */
/* BASIC STYLING */
/* ============= */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@-ms-viewport{
	width: device-width;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: rgb(99, 99, 99);
	color: rgb(179, 179, 179);

	overflow: hidden;

	font-family: 'Playfair Display', serif;
}

a {
	color: rgb(179, 179, 179);
	text-decoration: none;
	transition: ease-in-out color .2s;
}

a:hover {
	color: rgb(150, 150, 150);
}

button {
	cursor: pointer;
	color: white;
	letter-spacing: 1px;
	background-color: rgb(78, 146, 223);
	box-shadow: 5px 7px 10px #3c3c3c;
	transition: ease-in-out background-color 0.2s;
	border: none;
	border-radius: 5px;
}

button:hover {
	background-color: rgb(80, 141, 197);
}

button:focus {
	outline: 0;
}

/* ============== */
/* LOADING SCREEN */
/* ============== */

@keyframes rotate-loading {
	0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
	100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
	0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
	100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
	0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
	100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
	0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
	100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes rotate-loading {
	0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
	100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
	0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
	100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
	0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
	100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
	0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
	100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes loading-text-opacity {
	0%  {opacity: 0}
	20% {opacity: 0}
	50% {opacity: 1}
	100%{opacity: 0}
}

@-moz-keyframes loading-text-opacity {
	0%  {opacity: 0}
	20% {opacity: 0}
	50% {opacity: 1}
	100%{opacity: 0}
}

@-webkit-keyframes loading-text-opacity {
	0%  {opacity: 0}
	20% {opacity: 0}
	50% {opacity: 1}
	100%{opacity: 0}
}

@-o-keyframes loading-text-opacity {
	0%  {opacity: 0}
	20% {opacity: 0}
	50% {opacity: 1}
	100%{opacity: 0}
}

#loading-container-container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loading-container,
.loading {
	height: 100px;
	position: absolute;
	width: 100px;
	border-radius: 100%;
}

.loading-container {
	margin: 40px auto;
	cursor: progress;
}

.loading {
	border: 2px solid transparent;
	border-color: transparent #fff transparent #FFF;
	-moz-animation: rotate-loading 1.5s linear 0s infinite normal;
	-moz-transform-origin: 50% 50%;
	-o-animation: rotate-loading 1.5s linear 0s infinite normal;
	-o-transform-origin: 50% 50%;
	-webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
	-webkit-transform-origin: 50% 50%;
	animation: rotate-loading 1.5s linear 0s infinite normal;
	transform-origin: 50% 50%;
}

.loading-container:hover .loading {
	border-color: transparent rgb(78, 146, 223) transparent rgb(78, 146, 223);
}
.loading-container:hover .loading,
.loading-container .loading {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#loading-text {
	-moz-animation: loading-text-opacity 2s linear 0s infinite normal;
	-o-animation: loading-text-opacity 2s linear 0s infinite normal;
	-webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
	animation: loading-text-opacity 2s linear 0s infinite normal;
	color: #ffffff;
	font-family: "Helvetica Neue", "Helvetica", "arial";
	font-size: 10px;
	font-weight: bold;
	margin-top: 45px;
	opacity: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}

/* ============ */
/* LANDING PAGE */
/* ============ */

#landing-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;

	position: absolute;
	width: 100%;
	height: 100%;

	font-size: 1.2em;
}

#landing-page #instructions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;

	width: 500px;
	height: 500px;
}

#landing-page #instr-1 {
	margin-bottom: 8%;
}

#generated-username {
	margin-top: 8%;
	color: rgb(217, 247, 180);
	border-bottom: 1px solid rgb(217, 247, 180);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: pointer;
}

#landing-page button {
	cursor: pointer;
	margin: 40px auto;

	width: 200px;
	height: 100px;

	font-size: 1.3em;
}

#mini-icon {
	width: 50px;
	height: 50px;
}

/* =========== */
/* CHAT SCREEN */
/* =========== */

@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

#icon {
	width: 50px;
	height: 50px;
	margin-bottom: 1%;
}

#chat-page {
	position: absolute;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;

	width: 100%;
	height: 100%;
}

#chat-window {
	border-radius: 15px;
	border: 1px solid rgb(150, 150, 150);
	background-color: rgb(23, 23, 23);

	width: 80%;
	height: 80%;

	margin-bottom: 1%;
}

#header {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	font-family: 'Playfair Display', serif;
	font-weight: lighter;
	font-size: 0.7em;
	letter-spacing: 2px;
	font-weight: bolder;

	border-radius: 15px;
	background-color: rgb(23, 23, 23);

	width: 100%;
	height: 10%;
}

#chat-body {
	display: flex;
	justify-content: space-around;
	align-content: flex-start;
	flex-direction: row;

	width: 100%;
	height: 90%;
}

#sidebar {
	position: relative;
	width: 25%;
	height: 95%;

	padding: 2%;

	text-align: center;

	border: 1px solid rgb(150, 150, 150);
	background-color: rgb(51, 51, 51);
}

#sidebar .user {
	margin: 15% 0;
}

#sidebar .icon {
	width: 50px;
	height: 50px;
	border-radius: 5%;
	margin-bottom: 5%;
}

#sidebar button {
	display: inline;
	margin-top: 10%;
	padding: 5%;
}

#sidebar #restart-chat {
	display: none;
}

#sidebar #client2 {
	opacity: 0.5;
}

#chat-box {
	position: relative;
	width: 65%;
	height: 95%;

	border: 1px solid rgb(150, 150, 150);
	background-color: rgb(68, 68, 68);
}

#chat-box #chat-log {
	padding: 3%;
	height: 88%;
	overflow: auto;
}

/* START TEMPLATE */

#chat-box .client-post {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 5px;
}

#chat-box .client-post.client2 {
	flex-direction: row-reverse;
}

#chat-box .client-post .icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#chat-box .client-post .post-log {
	margin-left: 2%;
	margin-right: 2%;
	max-width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

#chat-box .client-post .post-log.client2 {
	align-items: flex-start;
}

#chat-box .client-post .post-log .username {
	font-size: 0.5em;
	opacity: 0.7;
}

#chat-box .client-post .post-log .message {
	text-align: justify;
	border: 1px solid;
	font-size: 0.8em;
	padding: 6px 8px;
	border-radius: 5px;
	background-color: rgb(50, 50, 50);
	overflow-wrap: break-word;
	max-width: 100%;

	/*opacity: 0;*/
	/*transform: translateX(0px) scale(0.2);*/
	transition: margin-bottom 200ms, max-height 500ms, opacity 100ms, transform 250ms;
	transition-timing-function: ease-out;
}

#chat-box .client-post .post-log .timestamp {
	margin-top: 2%;
	margin-bottom: 5%;
	font-size: 0.5em;
	opacity: 0.5;
}

/* END TEMPLATE */

#chat-box textarea {
	width: 84%;
	min-height: 10%;
	resize: none;

	position: absolute;
	left: 10px;
	bottom: 10px;

	padding: 1.5%;

	word-wrap: break-word;
	color: rgb(180, 180, 180);

	background-color: rgb(51, 51, 51);
	border-radius: 5px;
	border: none;
}

#chat-box textarea:focus {
	outline: 0;
}

#chat-box textarea.disabled {
	opacity: 0.5;
}

#chat-box>span {
    padding-top: 25px;
    width: 90%;
    display: block;
    text-align: center;
    font-size: 0.8em;
}

#chat-box button {
	margin: 1.6%;
	width: 10%;
	height: 10%;
	position: absolute;
	bottom: 0;
	right: 0;
}

#chat-box button.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

/* =============== */
/* MOBILE FRIENDLY */
/* =============== */

@media screen and (max-width: 600px) {
	#icon {
		display: none;
	}

	#landing-page #instructions {
		width: auto;
		height: auto;
	}

	#chat-window {
		width: 100%;
		height: 90%;
		border: none;
	}

	#chat-body {
		flex-direction: column;
	}

	#sidebar {
		width: 100%;
		height: auto;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		border: none;
	}

	#sidebar .user {
		margin: auto;
		font-size: 0.7em;
	}

	#sidebar button {
		margin: 0 5px;
		padding: 10px;
		font-size: 0.5em;
	}

	#chat-box {
		width: 100%;
		height: 85%;
	}

	#chat-box #chat-log {
		padding: 20px 10px;
	}

	#chat-box button {
		bottom: 5px;
	}

	#chat-box>span {
		padding-top: 10px;
		font-size: 1em;
	}
}
